<div data-ui-sref="index">

  <div class="song-list-container">
    <uib-pagination ng-model="songsCtrl.currentPage" total-items="songsCtrl.totalItems" items-per-page="songsCtrl.itemsPerPage" max-size="songsCtrl.maxSize" ng-change="songsCtrl.updatePage()" boundary-links="true" class="pagination-md" force-ellipses="true">
    </uib-pagination>
    <ul class="list">
      <li class="songs-header">
        <span class="title">Song Title</span>
        <span class="artist">Artist</span>
        <span class="dk-id">Song ID</span>
      </li>
      <li class="song" ng-repeat="song in songsCtrl.pageSongs | limitTo:100">
        <span class="title">{{song.songTitle}}</span>
        <span class="artist">{{song.artist}}</span>
        <span class="dk-id">{{song.publicId}}</span>
      </li>
    </ul>
    <uib-pagination ng-model="songsCtrl.currentPage" total-items="songsCtrl.totalItems" items-per-page="songsCtrl.itemsPerPage" max-size="songsCtrl.maxSize" ng-change="songsCtrl.updatePage()" boundary-links="true" class="pagination-md" force-ellipses="true">
    </uib-pagination>
  </div>

</div>
